<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Алгоритм КМП</title>
</head>
<body>
    <h1>Алгоритм Кунта-Морриса-Пратта</h1>
    <form method="post" enctype="multipart/form-data">
        <p>Введите строку</p>
        <input type="text" name="stroka">
        <p>Введите подстроку</p>
        <input type="text" name="podstroka">
        <br> 
        <p></p>
        <button class="button" type = "submit" >
            <span>Рассчет</span>
        </button>
    </form>
</body>
</html>